@use "./variables" as *;

@mixin buttonSave {
  width: 100%;
  max-width: 363px;
  height: 48px;
  border-radius: 10px;
  background-color: $color-hover;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: white;
    color: $color-hover;
  }
}
