@use "./variables" as v;

%buttonAction {
  width: 100%;
  max-width: 363px;
  height: 48px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@mixin buttonSave {
  @extend %buttonAction;
  background-color: v.$color-hover;
  color: white;

  &:hover {
    background-color: white;
    color: v.$color-hover;
  }
}

@mixin buttonDelete {
  @extend %buttonAction;
  background-color: v.$color-red;
  color: white;

  &:hover {
    background-color: white;
    color: v.$color-red;
  }
}

@mixin container {
  width: 100%;
  max-width: 360px;
}

@mixin containerBorders {
  border-radius: 12px;
  background-color: v.$color-grey;
}

@mixin h1 {
  font-weight: 600;
  font-size: 24px;
}
