$color-white: rgb(255, 255, 255);
$color-black: rgba(8, 9, 12, 1);
$color-grey: rgba(30, 32, 36, 1);
$color-hover: rgba(106, 102, 255, 1);
$color-red: rgba(219, 60, 60, 1);
$color-green: rgba(102, 255, 163, 1);
