@use "../../@styles/variables" as *;

.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: $color-grey;

  &:disabled {
    opacity: 0.3;
  }
}

.date {
  display: flex;
  width: 120px;
  height: 28px;
  border-radius: 6px;
  background-color: $color-grey;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
