@use "../@styles/variables" as *;

body {
  background-color: $color-black;
  color: $color-white;
  max-width: 400px;
  margin: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
  padding: 0;
}
