@use "../@styles/variables" as v;
@use "../@styles/mixins" as m;

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include m.container;
}

.total {
  @include m.containerBorders;
  padding: 20px;
}

.subText {
  font-size: 12px;
  color: rgb(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

.number {
  font-size: 28px;
}

.lastRecords {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
