@use "../../@styles/variables" as v;
@use "../../@styles/mixins" as m;

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include m.container;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;

  h1 {
    @include m.h1;
  }

  button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: v.$color-hover;
    justify-content: center;
    align-items: center;
  }
}
