@use "../../@styles/variables" as v;
@use "../../@styles/mixins" as m;

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
}

.dayBlock {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.dayTitle {
  font-size: 14px;
  color: rgb(255, 255, 255, 0.5);
}

.dayTotal {
  font-size: 14px;
  color: v.$color-red;
  opacity: 0.8;
}
